h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16px;
}

.containner {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttonDiv {
    padding-top: 10px;
}

.input {
    height: 35px;
}

.button {
    display: flex;
    height: 35px;
    align-items: center;
}