<div class="body">
    <h1>Dog D. Dog</h1>
    <div class="sub-contrainer">
        <div class="headRow">About </div>
        <content>
            <p>Woof woof!</p>
            <p>Hi, I'm Dog. I love <span class="highlight"> User Interface Design</span></p>
        </content>
        <img src="../../assets/Image/dog.png" class="stickyImg">
    </div>
    <div class="sub-contrainer">
        <div class="headRow">Coures</div>
        <content>
            <p>Here are some coures I've taken:</p>
            <table>
                <tr>
                    <th>Course Number</th>
                    <th>Course Title</th>
                    <th>Semester Taken</th>
                </tr>
                <tr>
                    <th colspan="3">For Credit</th>
                </tr>
                <tr>
                    <td class="textBold drakblueText blueBG">6.813</td>
                    <td class="textBold blueText blueBG">User Interface Design</td>
                    <td class="textBold blueText blueBG">Spring 2014</td>
                </tr>
                <tr>
                    <td class="textBold drakblueText">6.034</td>
                    <td>Artificial Intelligence</td>
                    <td>Fail 2013</td>
                </tr>
                <tr>
                    <td class="textBold drakblueText blueBG">6.006</td>
                    <td class="blueBG">Introduction to Algorithms</td>
                    <td class="blueBG">Fail 2013</td>
                </tr>
                <tr>
                    <th colspan="3">Listener</th>
                </tr>
                <tr>
                    <td class="textBold blueText blueBG">6.867</td>
                    <td class="blueBG">Machine Learning</td>
                    <td class="blueBG">Fail 2013</td>
                </tr>
                <tr>
                    <td class="textBold blueText">6.830</td>
                    <td>Database Systems</td>
                    <td>Fail 2012</td>
                </tr>
                </table>
        </content>
    </div>
    <div class="sub-contrainer">
        <div class="headRow">Interests</div>
        <content>
            <p>I am intersted <span class="textBold">HCI</span>, memes, and youtube videos.</p>
        </content>
    </div>
    <div class="sub-contrainer">
        <div class="headRow">Submit Pet Information</div>
        <content>
            <p>Would love to know what kinds of pets you 'own' (you'll nerver own me). Submit below!</p>
        </content>
    </div>
    <div class="sub-contrainer">
        <div class="row-content">
            <p>Name: </p>
            <input />
        </div>
        <div class="row-content">
            <p>Phylum: </p>
            <input />
        </div>
        <div class="row-content">
            <p>Gender: </p>
            <input />
        </div>
        <div class="row-content">
            <button>Submit</button>
        </div>
    </div>
</div>