.map {
    width: 100vw;
    height: 100vh;
}

.locator {
    position: absolute;
    background-color: white;
    top: 16px;
    right: 16px;
    z-index: 1;
    padding: 16px;
    border-radius: 10%;
    box-shadow: 3px 3px 6px #949494;
}